<div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
  <div   class ='row'  >
    <div class="col-9" >
      <div>
        <h5>{{ job.job_name }}</h5>
      </div>
      <div>
        Location:{{ job.location }}
      </div>
      {% if job.salary %}
      <div>
        Salary:<i>{{ job.salary}} {{ job.currancy }}</i>
      </div>
      {% endif %} 
    </div>
    <div  class="col-3" >
      <a  href="/job_discription/{{ job.id }}">  Apply </a>
    </div>
  </div>

</div>